body{
  background-color:#0c0e18;
}

ul {
  list-style: none;

}

.imagem {
  position: absolute;
  top: 0;
  left: 19px;
  width: 265px;
  
}

nav{
  max-width: 1120px;
  margin: auto;
  padding: 1.5rem 10rem;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu{
  position: fixed;
  top: 0;
  right: 20px;
  color: rgb(255, 255, 255);
  display: flex;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  color:rgb(155, 0, 0); 
  font-size: larger;
  float: right;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
 /* position: absolute;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  /*margin-top: 90px;
  margin-bottom: 10px;
  margin-left: 90px;*/
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*TOOLTIP*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.categoria{
  color: white;
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
 

}

/*COLUNAS DOS FILMES*/
/* Center website 
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want)
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other 
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default 
}

/* Clear floats after rows 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content 
.content {
  background-color: rgb(238, 238, 238);
  padding: 10px;
}

/* The "show" class is added to the filtered elements 
.show {
  display: block;
}

/* Style the buttons 
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over 
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button 
.btn.active {
  background-color: #666;
  color: white;
}*/



