* {
  margin-left: 10px ;
  margin-right: 10px;
}




body{
  background-color:#0c0e18;
}

ul {
  list-style: none;

}

.imagem {
  position: absolute;
  top: 0;
  left: 19px;
  width: 275px;
}

.img {
  max-width: 100%;
  height: auto;
}

nav{
  max-width: 1120px;
  margin: auto;
  padding: 1.5rem 10rem;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu{
  position: fixed;
  top: 0;
  right: 20px;
  color: rgb(255, 255, 255);
  display: flex;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  color:rgb(155, 0, 0); 
  font-size: larger;
  float: right;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
 /* position: absolute;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*TOOLTIP*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.categoria{
  color: white;
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.figure{
  width: 50px;

}

.figcaption{
  color: #fff;
  text-align: center;
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Estilos para a galeria */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Espaço entre as imagens */
}

/* Estilos para o contêiner da imagem e legenda */
.image-container {
  width: 200px; /* Largura fixa para cada item */
  text-align: center;
}

/* Estilos para as imagens*/ 
.image img {
  width: 220px;
  height: 350px;
  display: inline;
}

/* Estilos para a legenda */
.caption {
  margin-top: 10px; /* Espaço entre a imagem e a legenda */
  color: white;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;;
}

.image:hover img {
filter: blur(2px); /*Altere o valor para ajustar o grau de desfoque */
 transform: scale(1.1); /* Aumenta o tamanho da imagem */
}






/*carousel girl power*/

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
  margin-right: 5px; /* Espaçamento entre os slides */
  width: 250px; /* Ajuste conforme necessário */
}

.slide img {
  max-width: 100%;
  width: 235px;
  height: 330px;
  display: inline;
  

}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}

.prev-button {
  left: 1px;
}

.next-button {
  right: 10px;
}



