body{
  background-color:#0c0e18;
}


ul {
  list-style: none;

}

nav{
  max-width: 1120px;
  margin: auto;
  padding: 1.5rem 10rem;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu{
  position: fixed;
  top: 0;
  right: 20px;
  color: rgb(255, 255, 255);
  display: flex;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  color:rgb(155, 0, 0); 
  font-size: larger;
  float: right;
}

.img{
  max-width: 100%;
  height: auto;
}

/*TOOLTIP*/
.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 130px;
background-color: #000000;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
bottom: 70%;
left: 50%;
margin-left: -60px;
opacity: 0;
transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

p{
font-size: medium;
color: azure;
font-family: "Rowdies", sans-serif;
font-weight: 700;
font-style: normal;
}

img{
  width: 70%;
  border-radius: 4px;
  margin-bottom: 20px;

  
}

section{
  column-count: 6;
  column-gap: -0px;
 
 

}