/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
  gap: 30px;
}

.slide {
  position: relative;
  width: 25%; /* 100% / 4 imagens */
  min-width: 25%;
}

.slide img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 20px; /* Espaçamento do texto */
  color: white;
  opacity: 0; /* Oculto por padrão */
  transition: opacity 0.3s ease; /* Transição suave */
}

.overlay h2{
  position: absolute;
  bottom: 0; 
  left: 0; 
  text-align: start; 
  padding: 20px; 
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 8px;
}
.slide:hover .overlay {
  opacity: 1; /* Exibe o overlay ao passar o mouse */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 19px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
