.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-container {
    display: flex;
    overflow-x: hidden;
    margin: 0; /* Remover margem padrão */
    padding: 0; /* Remover preenchimento padrão */
  }
  
  .carousel-item {
    flex: 0 0 auto; /* Impede que as imagens sejam redimensionadas */
    margin-right: -260px; /* Reduz a margem entre as imagens */
  }
  
  .carousel-item img {
    display: block;
    width: 50%; /* Preencher o espaço disponível */
    height: auto; /* Manter a proporção */
  }


  .carousel-item:last-child {
    margin-right: 0; /* Remove a margem do último cartão */
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 2;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }


