*{
    background-color: rgb(0, 0, 0);
  }
  
  ul {
    list-style: none;
  
  }
  
  .imagem {
    position: absolute;
    top: 0;
    left: 19px;
    width: 265px;
  }
  
  .img {
    max-width: 100%;
    height: auto;
  }
  
  nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu{
    position: fixed;
    top: 0;
    right: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color:rgb(155, 0, 0); 
    font-size: larger;
    float: right;
  }
  
  /*TOOLTIP*/
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /* Estilos para a galeria */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px; /* Espaço entre as imagens */
  
  }
  
  /* Estilos para o contêiner da imagem e legenda */
  .image-container {
    width: 200px; /* Largura fixa para cada item */
    text-align: center;
  }
  
  /* Estilos para as imagens */
  .image img {
    width: 215px;
    height: 325px;
    display: inline;
    border-radius: 5px 5px 30px 0px;
  }
  
  /* Estilos para a legenda */
  .caption {
    margin-top: 10px; /* Espaço entre a imagem e a legenda */
    color: white;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;;
  }
  
  .image:hover img {
  filter: blur(1px); /*Altere o valor para ajustar o grau de desfoque */
   transform: scale(1.1); /* Aumenta o tamanho da imagem */
  }